/* 
.LletraLogo {
    color: black;
    display:inline-block;
    font-size: 20px;
} */

.Gat {
    position: relative;
    height: 70px;
    width: 140px;
    background-image: url("../../Images/gat1.png"); 
    background-size: cover;

}
.Gat:hover {
    position: relative;
    height: 70px;
    width: 140px;
    background-image: url("../../Images/gat2.png"); 
    background-size: cover;
}

.gatError {
    position: relative;
    display: inline-block;
    /* margin-bottom: 100px; */
    height: 50px;
    width: 150px;
    background-image: url("../../Images/gat4.png"); 
    background-size: cover;
    padding: 50px;
}

.Logo {
    color: #A0C1D1;
    display:inline-block;
    padding-left: 20px;
    padding-right: 50px;
}
.fonsnav {
    background-color: #29ABE1;
}

