.BotonAccion {
    vertical-align: top;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    cursor: pointer;
}

.BotonAccion:hover:not(:active) {
    opacity: 0.75;
}